
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LUXURY WHEELS | Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header id="heading">
        <div>
            <h1 class="h1"><a href="/login">luxury wheels</a>
            </h1>

            <h2 class="h1">
                <a href="/login">login</a>
                <a href="/home">home</a>
            </h2>
        </div>
   </header>

    <div class="register-page">
        <div class="form">
            {% set messages = get_flashed_messages() %}
            {% if messages %}

            {% for msg in messages %}
            <p class="error">{{ msg }}</p>
            {% endfor %}
            {% endif %}
            <form action="#" method="post" autocomplete="off">
                <input autocomplete="off" type="text" name="first_name" required placeholder="Your first name" />
                <input autocomplete="off" type="text" name="last_name" required placeholder="Your last name" />
                <input autocomplete="off" type="text" name="username" required placeholder="Your username" />
                <input type="password" name="password" required placeholder="Your password" />
                <button type="submit">create account</button>
                <p class="message">
                    Already registered? <a href="/login">Go to login</a>
                </p>
            </form>
        </div>
    </div>
  </body>
</html>
